In [1]:
import pandas as pd

In [3]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://broot:broot@localhost:5432/ny_taxi')
pd.io.sql.get_schema(df_zones,'zones')

'CREATE TABLE "zones" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [5]:
df_zones.to_sql('zones',con=engine,if_exists='replace')

265

In [32]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [33]:
pd.io.sql.get_schema(df_trips, 'yellow_taxi_trip')

'CREATE TABLE "yellow_taxi_trip" (\n"Unnamed: 0" INTEGER,\n  "VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" REAL,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "airport_fee" REAL\n)'

In [34]:
df_trips.tpep_pickup_datetime = pd.to_datetime(df_trips.tpep_pickup_datetime)
df_trips.tpep_dropoff_datetime = pd.to_datetime(df_trips.tpep_dropoff_datetime)

In [35]:
while True:
    df_trips = next(df_iter)
    df_trips.tpep_pickup_datetime = pd.to_datetime(df_trips.tpep_pickup_datetime)
    df_trips.tpep_dropoff_datetime = pd.to_datetime(df_trips.tpep_dropoff_datetime)
    df_trips.to_sql('yellow_taxi_trip',con=engine,if_exists='append')

/tmp/ipykernel_7506/4234392492.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trips = next(df_iter)

StopIteration: